@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
}



@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .advantages-list {
        gap: 72px 24px;
    }

    .advantages-item {
        width: calc((100% - 32px) /2);
    }

    .advantages-subtitle {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 120px;
    }

    .advantages-item {
        width: calc((100% - 72px) /4);
    }

    .advantages-icon {
        height: 112px;
        width: 264px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-color);
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .advantages-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;

    }

    .advantages-text {
        font-weight: 400;
    }
        .projects {
            display: flex;
    
        }
    
        .projects-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-transform: capitalize;
            text-align: center;
            color: var(--dark-color);
            letter-spacing: 0.02em;
            margin-bottom: 72px;
    
        }
    
        .projects-list {
            display: flex;
            gap: 24px;
        }
    
        .projects-item {
            width: calc((100% - 48px) / 3);
        }
}